@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: normal;
    src: local("TT Lakes"),
        url("../fonts/TTLakes-Regular.eot") format("eot"),
        url("../fonts/TTLakes-Regular.ttf") format("ttf"),
        url("../fonts/TTLakes-Regular.woff") format("woff");
}

@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: bold;
    src: local("TT Lakes"),
        url("../fonts/TTLakes-Bold.eot") format("eot"),
        url("../fonts/TTLakes-Bold.ttf") format("ttf"),
        url("../fonts/TTLakes-Bold.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
}

button {
    outline: none; 
    border: 0;
    background: transparent;
}

li {
    list-style-type: none; 
}

a:active, 
a:hover,  
a {
  text-decoration: none;
  border-bottom: none; 
  color: #666;
}

ul {
    padding-left: 0;
}

.wrapper {
    margin: 0 auto;
}

body {
    font-family: "TT Lakes";
}

.header {
    padding: 18px 16px;
    display: flex;
    border-bottom: 1px solid #D9FFF5;
}


.header__left {
    width: 155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 38px;
}


.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 105px;
}

.header__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 768px) {

    .wrapper {
        width: 320px;
    }

    .header__communication {
        display: none;
    }

    .header__left::after {
        content: '';
        display: block;
        width: 2px;
        height: 32px;
        background-image: url("/img/header/divider.svg");
        background-color: #EAEAEA;
        position: relative;
        left: 16px;
        top: center;
    }
}

@media (min-width: 769px) and (max-width: 1120px) {

    .wrapper {
        width: 768px;
    }

    .header {
        padding: 24px;
    }

    .header__communication {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 152px;
        margin-right: 42px;
    }

    .header__left {
        margin-right: auto;
        width: 178px;
    }

    .header__left::before {
        content: '';
        display: block;
        width: 2px;
        height: 32px;
        background-image: url("/img/header/divider.svg");
        background-color: #EAEAEA;
        position: relative;
        left: 70px;
    }

    .header__communication::after {
        content: '';
        display: block;
        width: 2px;
        height: 32px;
        background-image: url("/img/header/divider.svg");
        background-color: #EAEAEA;
        position: relative;
        left: 20px;
    }


}

@media (min-width: 1121px) {
    .wrapper {
        width: 1200px;
    }

    .header {
        display: none;
    }
}

.main {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
}

.main-header__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
}

.main-nav {
    display: flex;
    overflow: scroll;
    white-space: nowrap;
    margin-bottom: 24px;
}

.main-nav::-webkit-scrollbar {
    display: none;
  }

.main-nav__link {
    padding: 8px 16px;
    font-size: 16px;
}

.main-nav__link--active {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.content__text {
    font-size: 14px;
    line-height: 18px;
}

.content__link {
    font-size: 16px;
    line-height: 24px;
    padding: 16px 25px;
}


@media (min-width: 320px) and (max-width: 768px) {

    .main-header__top,
    .content__link {
        position: relative;
    }

    .content__link::before {
        content: '';
        display: block;
        width: 16px;
        height: 11px;
        background-image: url('/img/main/icon.svg');
        background-repeat: no-repeat;
        position: absolute;
        left: 10px;
        top: 22px;
    }
    

    .main-header__top::before {
        display: block;
        content: '';
        width: 4px;
        height: 40px;
        background-image: url('/img/main/highlight.svg');
        background-repeat: no-repeat;
        position: absolute;
        margin-right: 0;
        left: -14px;
    }

    .content__img {
        position: relative;
        right:16px;
        width: 320px;
        height: 230px;
    }

    .check__feed,
    .check__status {
        display: none;
    }
    
    .main-header__title {
        padding-bottom: 24px;
    }
}

@media (min-width: 769px) and (max-width: 1120px) {
    .main {
        padding: 24px;
    }

    .main-header__title,
    .main-nav {
        margin-bottom: 32px;
    }

    .content {
        display: flex;
    }

    .main-header__top,
    .content__link {
        position: relative;
    }

    .main-header__top::before {
        display: block;
        content: '';
        width: 4px;
        height: 40px;
        background-image: url('/img/main/highlight.svg');
        position: absolute;
        left: -20px;
    }

    .content__link::before {
        content: '';
        display: block;
        width: 16px;
        height: 11px;
        background-image: url('/img/main/icon.svg');
        background-repeat: no-repeat;
        position: absolute;
        left: 10px;
        top: 20px;
    }

    .content__form {
        padding-right: 48px;
    }

    .content__img {
        width: 360px;
        height: 259px;
        border-radius: 10px;
    }
    .check__feed,
    .check__status {
        display: none;
    }
}

@media (min-width: 1121px) {
    .main {
        padding: 42px 32px;
    }

    .main-header__top {
        display: flex; 
        align-items: center;  
        margin-bottom: 10px;    
    }

    .main-header__title {
        margin-right: auto;
    }

    .check__feed,
    .check__status {
        font-size: 16px;
        position: relative;
    }

    .content__link,
    .main-header__top {
        position: relative;
    }

    .check__feed {
        padding-right: 80px;
    }

    .check__status {
        padding-right: 50px;
    }

    .main-nav {
        overflow: visible;
    }

    .content {
        display: flex;
    }

    .content__form {
        padding-right: 36px;
        line-height: 20px;
    }

    .content__img {
        border-radius: 10px;
    }

    .main-header__button {
        font-weight: 500;
    }

    .btn {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: #FF3E79;
        border-radius: 50%;
        vertical-align: middle;
    }


    .btn-repear {
        background-image: url(/img/main/repear.svg);
        background-repeat: no-repeat;
        background-position: center center;
        margin-right: 30px;
    }

    .btn-check {
        background-image: url(/img/main/checkstatus.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }

    .content__link::before {
        content: '';
        display: block;
        width: 16px;
        height: 11px;
        background-image: url('/img/main/icon.svg');
        background-repeat: no-repeat;
        position: absolute;
        left: 10px;
        top: 22px;
    }

    .main-header__top::before {
        content: "";
        display: block;
        width: 4px;
        height: 40px;
        background-image: url(/img/main/highlight.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: -30px;
    }
}

/* ASIDE MENU */

.aside-body {
    position: absolute;
    top: 0;
    left:0;
    width: 320px;
    font-color: #1B1C21;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.aside {
    padding: 24px;
}

.aside__header {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.aside__button {
    width: 40px;
    height: 40px;
    background-color:#FF3E79;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.1s linear;
    display: flex;
    justify-content: center;
    align-items:center;
}

.aside__button:first-child {
    margin-right: 16px;
}

.aside__logo {
    margin-right: auto;
}

.aside__button:focus,
.aside__button:hover {
    opacity: 0.5;
}

.aside-menu {
    display: flex;
    flex-direction: column; 
}

.aside-nav__item {
    margin-bottom: 32px;
    cursor: pointer;
    position: relative;
    transition: opacity 0.1s linear;
}


.aside-nav__item:hover,
.aside-nav__item:focus {
    opacity: 0.7;
}

.aside-nav__item--active::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 32px;
    background-image: url(/img/aside/highlight.svg);
    left: -24px;
    top: -6px;
}

.aside-nav__item:active {
    text-decoration: underline;
}


.aside-nav__item:last-of-type {
    margin-bottom: 260px;
}

.aside-footer {
    display: flex;
    flex-direction: column;
}

.aside-footer__communication {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.aside-footer__button {
    margin-right: 16px;
}

.aside__link-email {
    margin-bottom: 16px;
    font-size: 16px;
    font-family: 'TT Lakes';
    font-weight: bold;
}

.aside__link-phone {
    font-family: 'TT Lakes';
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.check {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check:checked + span {
    opacity: 0.5;
}
