@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: normal;
    src: local("TT Lakes"),
        url("../fonts/TTLakes-Regular.eot") format("eot"),
        url("../fonts/TTLakes-Regular.ttf") format("ttf"),
        url("../fonts/TTLakes-Regular.woff") format("woff");
}

@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: bold;
    src: local("TT Lakes"),
        url("../fonts/TTLakes-Bold.eot") format("eot"),
        url("../fonts/TTLakes-Bold.ttf") format("ttf"),
        url("../fonts/TTLakes-Bold.woff") format("woff");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    all: unset;
    cursor: pointer;
  }

body {
    width: 320px;
    background-color: #F8F8F8;
    margin: 0 auto;
    font-family: 'TT Lakes';
}

.title {
    font-family: 'TT Lakes';
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 24px;
    color: #7E7E82;
    padding: 16px;
    border-top: solid 1px #D9FFF5;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.swiper {
    padding: 16px!important;
}

.swiper::after {
    content: '';
    display: block;
    width: 24px;
    height: 72px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    position: absolute;
    top: 16px;
    right: -1px;
    z-index: 1;
}

.swiper-wrapper {
    margin-bottom: 16px;
}

.swiper-slide {
    width: 241px!important;
}

.swiper-slide-item {
    width: 240px;
    height: 72px;
    background-color: white;
    border-radius: 6px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin: 0;
    position:relative;
}

.swiper-slide-item::after {
    content: '';
    background-image: url(/img/go.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 180px;
}

img {
    padding-left: 10px;
}

.swiper-pagination-bullet {
    background-color: #DDDDDD!important;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC!important;
}

.list-service {
    display: none;
}

.buttonClose {
    display: none;
}

@media (min-width: 768px) and (max-width: 1119px) {
    body {
        width: 768px;
    }

    .title {
        padding: 16px 24px;
    }

    .swiper {
        display: none!important;
    }

    .list-service {
        display: inherit;
        padding: 16px 24px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px 16px;
    }

    .list-service__item {
        width: 224px;
        height: 72px;
        background-color: #FFFFFF;
        border-radius: 6px;
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }

    .list-service__item--hidden {
        display: none;
    }

    .list-service__item::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        background: url('/img/go.svg') no-repeat;
        right: 16px;
    }

    .buttonClose {
        display: inherit;
        padding-left: 57px;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        position: relative;
    }

    .buttonClose::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 10px;
        background-image: url('/img/icon.svg');
        left: 34px;
        top: 5px;
    }
}

@media (min-width: 1120px) {

    body {
        width: 1120px;
    }

    .title {
        padding: 16px 32px;
    }

    .swiper {
        display: none!important;
    }

    .list-service {
        display: inherit;
        padding: 24px 32px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px 16px;
    }

    .list-service__item {
        width: 224px;
        height: 72px;
        background-color: #FFFFFF;
        border-radius: 6px;
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }

    .list-service__item--hidden {
        display: none;
    }

    .list-service__item::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        background: url('/img/go.svg') no-repeat;
        right: 16px;
    }

    .buttonClose {
        display: inherit;
        padding-left: 63px;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        position: relative;
    }

    .buttonClose::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 10px;
        background-image: url('/img/icon.svg');
        left: 34px;
        top: 5px;
}
}