@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: normal;
    src: local("TT Lakes"),
        url("../fonts/TTLakes-Regular.eot") format("eot"),
        url("../fonts/TTLakes-Regular.ttf") format("ttf"),
        url("../fonts/TTLakes-Regular.woff") format("woff");
}

@font-face {
    font-family: "TT Lakes";
    font-style: normal;
    font-weight: bold;
    src: local("TT Lakes"),
        url("../fonts/TTLakes-Bold.eot") format("eot"),
        url("../fonts/TTLakes-Bold.ttf") format("ttf"),
        url("../fonts/TTLakes-Bold.woff") format("woff");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    all: unset;
    cursor: pointer;
  }

body {
    font-family: 'TT Lakes';
}

.title {
    font-family: 'TT Lakes';
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 24px;
    color: #7E7E82;
    padding: 16px;
    border-top: solid 1px #D9FFF5;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.swiper-wrapper {
    margin-bottom: 16px;
}

.swiper-slide {
    width: 224px!important;
    display: block;
}

.swiper-slide--hidden {
    display: none; 
}

.swiper-slide-item {
    height: 72px;
    padding-left: 10px;
    background-color: white;
    border-radius: 6px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin: 0;
    position:relative;
}


.swiper-slide-item::after {
    content: '';
    background-image: url(/img/go.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 160px;
}

.swiper-pagination-bullet {
    background-color: #DDDDDD!important;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC!important;
}
@media (max-width: 767px){

    .wrapper {
        min-width: 320px;
        max-width: 767px;
        background-color: #F8F8F8;
        margin: 0 auto;
    }

    .swiper::after {
        content: '';
        display: block;
        width: 24px;
        height: 72px;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
        position: absolute;
        top: 16px;
        right: -1px;
        z-index: 1;
    }

    .buttonClose {
        display: none;
    }

    .swiper {
        padding: 16px!important;
    }
}

@media (min-width: 768px) and (max-width: 1119px) {
    .wrapper {
        width: 786px;
        margin: 0 auto;
    }

    .swiper {
        min-width: 100%;
        max-width: 100%;
        padding: 24px !important;
        background-color: #F8F8F8;
    }

    .swiper-slide {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        border-radius: 6px;
    }

    .swiper-slide-item {
        width: 100%;
    }

    .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 24px;
    }

    .swiper-pagination {
        display: none!important;
    }

    .buttonClose {
        padding-left: 30px;
        position: relative;
    }

    .buttonClose::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 11px;
        background-image: url('/img/icon.svg');
        background-repeat: no-repeat;
        left: 10px;
        top: 4px;
        transition: all 0.3s ease-in;
    }

    .buttonCloseRotate::before {
        transform: rotate(180deg);
    }
}

@media (min-width: 1120px) {
    .wrapper {
        width: 1120px;
        margin: 0 auto;
    }

    .title {
        padding: 16px 32px;
    }

    .swiper {
        padding: 24px 32px !important;
        background-color: #F8F8F8;
        width: 1120px;
        
    }

    .swiper-slide {
        width: 240px !important;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }

    .swiper-slide-item {
        width: 100%;
    }

    .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 24px;
    }

    .swiper-pagination {
        display: none!important;
    }

    .buttonClose {
        padding-left: 30px;
        position: relative;
    }

    .buttonClose::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 11px;
        background-image: url('/img/icon.svg');
        background-repeat: no-repeat;
        left: 10px;
        top: 4px;
        transition: all 0.3s ease-in;
    }

    .buttonCloseRotate::before {
        transform: rotate(180deg);
    }
}
