.aside {
    @media (max-width: 1119px) {
        background-color: white;
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(-320px);
        transition: transform 0.2s, box-shadow 0.3s ease-in;
        overflow: hidden;
    }
}

.overlay-active {
    height : 100%;
    width : 100%;
    overflow: hidden;
    opacity : 50%;
    cursor : pointer;
    z-index: 5;
}

.aside-open {
    transform: translateX(0);
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
}



.aside-wrapper {
    width: 320px;
    height: calc(100% - 34px);

    .aside-header {
        padding: 18px 16px;
        display: flex;
        align-items: center;


        &__btn {
            width: 40px;
            height: 40px;

            background-color: $btn-color;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: opacity 0.1s ease-in;
        }

        &__btn:hover,
        &__btn:active {
            opacity: 0.5;
        }



        &__close {
            margin-right: 16px;

            @media (min-width: 1120px) {
                display: none;
            }
        }

        &__logo {
            margin-right: auto;
        }
    }

    .aside-nav {

        .aside-nav-list {
            padding: 0px 16px 0px 16px;
            position: relative;

            &__item {
                margin-bottom: 24px;
                transition: color 0.1s ease-in;

                .aside-nav-list__link {

                    font-family: 'TT Lakes Regular';
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            &__item:hover,
            &__item:active {
                color: $subtitle-color;
            }

            &__item:last-child {
                margin-bottom: 0;
            }

        }

        .aside-nav-list::before {
            content: '';
            width: 4px;
            height: 32px;
            position: absolute;
            background-image: url('./img/aside/highlight.svg');
            left: 0;
            top: -4px;
        }
        
    }

    .aside-social {
        padding: 32px 16px 16px 16px;
        display: flex;
        align-items: center;
        gap: 16px;

        &__btn {
            width: 40px;
            height: 40px;

            background-color: $btn-color;
            border-radius: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            transition: opacity 0.1s ease-in;
        }

        &__btn:hover,
        &__btn:active {
            opacity: 0.5;
        }
    }

    .aside-contacts {
        padding: 16px 16px 8px 16px;

        &__email {
            display: block;
            margin-bottom: 16px;

            font-family: 'TT Lakes Medium';
            font-size: 16px;
            line-height: 24px;
        }

        &__tel {
            display: block;

            font-family: 'TT Lakes Bold';
            font-size: 24px;
            line-height: 32px;
        }
    }

    .aside-lang {
        padding: 0px 16px 16px 16px;

        &__checkbox {
            margin-left: -3px;

            .check {
                appearance: none;
            }

            span {
                font-family: 'TT Lakes Medium';
                font-size: 16px;
                line-height: 24px;
            }

            .check:checked + span {
                opacity: 0.5;
            }
        }
    }
}