.brends {

    &__title {
        padding: 16px;
        margin: 0;

        font-family: 'TT Lakes Regular';
        font-weight: normal;
        color: $subtitle-color;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;

        background: linear-gradient(90deg, $main-bc 0%, $header-bc 98.61%);

        @media (min-width:768px) and (max-width: 1119px) {
            padding: 16px 24px;
        }

        @media (min-width: 1120px) {
            padding: 16px 32px;
        }
    }

    &__btn {
        @media (max-width: 767px) {
            display: none;
        }

        margin-bottom: 32px;
        padding-left: 56px;
        position: relative;

        font-family: 'TT Lakes Medium';
    }

    &__btn::before {
        content: '';
        width: 8px;
        height: 11px;
        position: absolute;
        background-image: url('./img/main/icon.svg');
        top: 3px;
        left: 35px;
        transition: all 0.3s ease-in;
    }

    &__btn--rotate::before {
        transform: rotate(180deg);
    }

    .swiper-brends {
        @media (max-width: 767px) {
            padding: 16px !important;
        }

        @media (min-width:768px) and (max-width: 1119px) {
            padding: 24px !important;
        }

        @media (min-width: 1120px) {
            padding: 24px 32px !important;
        }

        .swiper-wrapper-brends {
            margin-bottom: 16px;

            @media (min-width:768px) and (max-width: 1119px) {
                flex-wrap: wrap;
                gap: 16px 24px;
            }

            @media (min-width: 1120px) {
                flex-wrap: wrap;
                gap: 16px 32px;
            }
        }

        .swiper-slide-brends {


            @media (min-width:768px) {
                width: auto;
            }

            .swiper-brends__item {
                display: flex;
                align-items: center;

                padding-left: 10px;
                width: 240px ;
                height: 72px ;

                background-color: $header-bc;
                border: 1px solid #EAEAEA;
                border-radius: 6px;

                position: relative;

                @media (min-width:768px) and (max-width: 1119px) {
                    width: 212px;
                    height: 72px;
                }

                @media (min-width: 1120px) {
                    width: 228px;
                    height: 72px;
                }
            }

            .swiper-brends__item::after {
                content: '';
                width: 40px;
                height: 40px;
                position: absolute;
                background-image: url('./img/main/go.svg');
                background-repeat: no-repeat;
                left: 186px;

                @media (min-width:768px) and (max-width: 1119px) {
                    left: 165px;
                }

                @media (min-width: 1120px) {
                    left: 170px;
                }
            }
        }

        .swiper-slide-brends--hidden {
                display: none;
        }

        .swiper-pagination-brends {

            .swiper-pagination-bullet {  
                width: 12px;
                height: 12px;
                background-color: &non-active-bullet;
            }

            .swiper-pagination-bullet-active {
                background-color: $acive-bullet;
            } 
        }
    }

}