.footer {
    padding: 16px;

    font-family: 'TT Lakes Regular';
    font-size: 14px;
    line-height: 16px;
    color: $subtitle-color;

    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;

    @media (min-width: 768px) {
        padding: 32px 24px;
        flex-direction: row;
    }

    &__item {
        @media (min-width: 768px) {
            flex: 1 1 0;
        }
    }

}