.main-content {

    border-bottom: 1px solid $border-color;

    @media (max-width: 767px) {
        padding: 24px 16px;
    }

    @media (min-width: 768px) and (max-width: 1119px) {
        padding: 24px;
    }

    .main-header-wrapper {
        @media (min-width: 1119px) {
            padding: 40px 30px 8px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .modals-buttons {

            @media (max-width: 1119px) {
                display: none;
            }
            
            display: flex;
              
            .modals-button__item{
                display: flex;
                align-items: center;
                gap:8px;

                font-family: 'TT Lakes Medium';
                font-size: 16px;
                line-height: 24px;

                
                .btn {
                    width: 40px;
                    height: 40px;
                    background-color: $btn-color;
                    border-radius: 50%;
                    display: inline-block;
                    transition: opacity 0.1s ease-in;
                }

                .btn:hover,
                .btn:active {
                    opacity: 0.5;
                }

                .modals-buttons__repear {
                    background-image: url('./img/header/repear.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                    margin-right: 32px;
                }

                .modals-buttons__search {
                    background-image: url('./img/header/search.svg');
                    background-repeat: no-repeat;
                    background-position: center center;
                }
        }

    }


    }
    

    &__title {
        margin-top: 0;
        margin-bottom: 24px;
        
        font-family: 'TT Lakes Bold';
        font-size: 28px;
        line-height: 40px;
        color: $text-color;

        position: relative;

        @media (min-width: 768px) and (max-width: 1119px) {
            margin-bottom: 32px;
        }

        @media (min-width: 1119px) {
            margin-bottom: 0;
        }
    }

    &__title::before {
        content: '';
        width: 4px;
        height: 40px;
        position: absolute;
        background-image: url('./img/main/highlight.svg');
        background-repeat: no-repeat;
        left: -16px;
        @media (min-width: 768px) and (max-width: 1119px) {
            left: -24px;
        }

        @media (min-width: 1120px) {
            left: -30px;
        }
    }

    .content-nav-list {
        display: flex;
        overflow: scroll;
        align-items: center;

        @media (min-width: 1120px) {
            padding: 0px 32px;
            flex-wrap: wrap;
        }

        &::-webkit-scrollbar {
            width: 0;
        }

        &__item {
            border: 2px solid transparent;
        }
        
        &__item:hover,
        &__item:active {
            background-color: $header-bc;
            border: 2px solid $border-color;
            border-radius: 6px;
        }

        a {
            font-family: 'TT Lakes Regular';
            white-space: nowrap;
            display: block;
            padding: 8px 16px;
            margin-right: 2px;
        }
    }

    .main-wrapper{
        
        @media(min-width: 1120px) {
            padding: 0 34px 34px 34px;
            display: flex;
            gap: 32px;
        }

        @media (min-width: 768px) and (max-width:1119px) {
            display: flex;
            gap: 16px;
            margin-top: 30px;
        }

        .main-article {
            
            &__text {
                font-family: 'TT Lakes Regular';
                font-size: 14px;
                line-height: 18px;
                margin: 0 0 16px 0;
            }

            &__btn {
                font-family: 'TT Lakes Medium';
                font-size: 16px;
                line-height: 24px;
                padding-left: 32px;
                position: relative;
                margin-bottom: 16px;
            }

            &__btn::before {
                content: '';
                width: 8px;
                height: 11px;
                position: absolute;
                background-image: url('./img/main/icon.svg');
                left: 14px;
                top: 4px;
            }
        }

        img {

            border-radius: 6px;

            @media (max-width: 767px) {
                width: 290px;
                height: 100%;
            }

            @media (min-width: 768px) and (max-width: 1119px) {
                width: 360px;
                height: 100%;
            }
        }
    }



    
}