@import './libs/normalize.css';
@import './style/var.scss';
@import './style/fonts.scss';
@import './style/header.scss';
@import './style/main-content.scss';
@import './style/brends.scss';
@import './style/technic.scss';
@import './style/price.scss';
@import './style/main-desc.scss';
@import './style/footer.scss';
@import './style/aside.scss';
@import './style/feedback.scss';
@import './style/callback.scss';

body {

    @media (min-width: 1120px){
        display: flex;
        justify-content: center;
        flex-direction:row-reverse;
    }
}
.body-wrapper {
    position: relative;
}
.wrapper {

    position: relative;
    @media (max-width: 767px) {
        min-width: 320px;
        max-width: 767px;
        margin: 0 auto;
    }

    @media (min-width:768px) and (max-width: 1119px) {
        min-width: 768px;
        max-width: 1119px;
        margin: 0 auto;
    }

    @media (min-width: 1120px) {
        width: 1120px;

    }
}

main,
footer {
    background-color: $main-bc;
}